{{if .Avatar}}
    <img src='{{minio "avatars" .Avatar.Path}}' class="avatar" alt="User Avatar" width="{{.Avatar.Width}}" height="{{.Avatar.Height}}">
{{else}}
    <span class="avatar-initial" data-initial="{{slice .Username 0 1}}"></span>
{{end}}