<article class="card comment">
    <a href="/u/{{.Comment.User.Username}}" class="comment-avatar">
        {{template "avatar.tmpl" .Comment.User}}
    </a>

    <a href="/u/{{.Comment.User.Username}}" class="comment-username">{{.Comment.User.Username}}</a>

    <time class="comment-time" datetime='{{.Comment.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>{{.Comment.CreatedAt.Format "2006-01-02 15:04:05"}}</time>

    {{if .Comment.Content}}
        <p class="comment-content">{{.Comment.Content | linkify}}</p>
    {{end}}

    {{if .Comment.Attachment}}
        <img class="comment-attachment" src='{{minio "comment-attachments" .Comment.Attachment.Path}}' alt="Attachment" width="{{.Comment.Attachment.Width}}" height="{{.Comment.Attachment.Height}}">
    {{end}}

    <div class="comment-controls">
        {{template "reactions.tmpl" (dict
            "LoggedIn" $.LoggedIn
            "ID" .Comment.ID
            "ReactionCounters" .Comment.ReactionCounters
            "Action" (printf "/comments/%s/toggle-reaction" .Comment.ID)
        )}}
    </div>
</article>