<article id="post-{{.Post.ID}}" class="card post">
    <a href="/u/{{.Post.User.Username}}" class="post-avatar">
        {{template "avatar.tmpl" .Post.User}}
    </a>

    <a href="/u/{{.Post.User.Username}}" class="post-username">{{.Post.User.Username}}</a>

    <a href="/p/{{.Post.ID}}" class="post-time">
        <time datetime='{{.Post.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>{{.Post.CreatedAt.Format "2006-01-02 15:04:05"}}</time>
    </a>

    {{if .Post.Content}}
        <p class="post-content">{{.Post.Content | linkify}}</p>
    {{end}}

    {{- $post := .Post -}}

    {{if not .Post.Previews.IsEmpty}}
        <div class="post-previews">
            {{range .Post.Previews}}
                {{if not .Data.IsEmpty}}
                    <div class="post-preview">
                        <h4>{{.Data.SiteName}}</h4>
                        <h3>
                            <a href="{{.Data.URL}}" target="_blank" rel="noopener noreferrer">
                                {{.Data.Title}}
                            </a>
                        </h3>
                        <p>{{.Data.Description}}</p>

                        {{if .Data.Images}}
                            <div class="post-preview-images">
                                {{range $index, $img := .Data.Images}}
                                    {{$elID := printf "post-preview-%s-%s" $post.ID $index}}
                                    {{if $post.IsR18}}
                                        <div class="r18-wrapper">
                                            <input type="checkbox" id="{{$elID}}" class="r18-checkbox" hidden>
                                            <label for="{{$elID}}" class="r18-label">
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" style="--darkreader-inline-color: var(--darkreader-text-000000, #e8e6e3);" data-darkreader-inline-color=""><path d="M3 13C6.6 5 17.4 5 21 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path><path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path></svg>
                                                <span>Reveal R-18 Content</span>
                                            </label>
                                    {{end}}
                                    <img src="/proxy?url={{.URL}}" alt="{{.Alt}}" width="{{.Width}}" height="{{.Height}}"{{if $post.IsR18}} class="r18-img"{{end}}>
                                    {{if $post.IsR18}}
                                        </div>
                                    {{end}}
                                {{end}}
                            </div>
                        {{end}}
                    </div>
                {{end}}
            {{end}}
        </div>
    {{end}}

    {{if .Post.Attachments}}
        <div class="post-attachments">
            {{range $index, $attachment := .Post.Attachments}}
                {{$elID := printf "post-attachment-%s-%s" $post.ID $index}}
                {{if $post.IsR18}}
                    <div class="r18-wrapper">
                        <input type="checkbox" id="{{$elID}}" class="r18-checkbox" hidden>
                        <label for="{{$elID}}" class="r18-label">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" style="--darkreader-inline-color: var(--darkreader-text-000000, #e8e6e3);" data-darkreader-inline-color=""><path d="M3 13C6.6 5 17.4 5 21 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path><path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path></svg>
                            <span>Reveal R-18 Content</span>
                        </label>
                {{end}}
                <img src='{{minio "post-attachments" $attachment.Path}}' alt="Attachment" width="{{$attachment.Width}}" height="{{$attachment.Height}}"{{if $post.IsR18}} class="r18-img"{{end}}>
                {{if $post.IsR18}}
                    </div>
                {{end}}
            {{end}}
        </div>
    {{end}}

    <div class="post-controls">
        {{template "reactions.tmpl" (dict
            "LoggedIn" $.LoggedIn
            "ID" .Post.ID
            "ReactionCounters" .Post.ReactionCounters
            "Action" (printf "/posts/%s/toggle-reaction" .Post.ID)
        )}}

        <a href="/p/{{.Post.ID}}" role="button" class="post-comments-count" aria-label="{{.Post.CommentsCount}} comments" title="{{.Post.CommentsCount}} comments">
            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" style="--darkreader-inline-color: var(--darkreader-text-000000, #e8e6e3);" data-darkreader-inline-color=""><path d="M7 12L17 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path><path d="M7 8L13 8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path><path d="M3 20.2895V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V15C21 16.1046 20.1046 17 19 17H7.96125C7.35368 17 6.77906 17.2762 6.39951 17.7506L4.06852 20.6643C3.71421 21.1072 3 20.8567 3 20.2895Z" stroke="#000000" stroke-width="1.5" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path></svg>
            <span>{{.Post.CommentsCount}}</span>
        </a>
    </div>
</article>