{{template "layout.tmpl" .}}

{{define "content"}}
<main class="container">
    <h1>Home</h1>

    {{if .LoggedIn}}
    <form action="/posts" method="post" enctype="multipart/form-data">
        <div>
            <textarea name="content" placeholder="Say something..." aria-label="Content"></textarea>
        </div>

        <div class="post-form-controls">
            <div>
                <input type="file" name="attachments" id="attachments" accept="image/*" multiple>
            </div>
            
            <div>
                <label for="is_r18">R-18</label>
                <input type="checkbox" name="is_r18" id="is_r18">
            </div>

            <div class="spacer"></div>

            <button class="post-form-button">
                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" style="--darkreader-inline-color: #e8e6e3;" data-darkreader-inline-color=""><path d="M22.1525 3.55321L11.1772 21.0044L9.50686 12.4078L2.00002 7.89795L22.1525 3.55321Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path><path d="M9.45557 12.4436L22.1524 3.55321" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path></svg>
                <span>Post</span>
            </button>
        </div>

        {{with .Error}}
        <div class="error">
            <b>Error:</b>
            <p>{{.}}</p>
        </div>
        {{end}}

    </form>

    <br>
    {{end}}

    {{if not .Feed.Items}}
        <p>No posts available</p>
    {{else}}
        <div role="feed">
            {{range .Feed.Items}}
                <article class="card post">
                    <a href="/u/{{.User.Username}}" class="post-avatar">
                        {{template "avatar.tmpl" .User}}
                    </a>

                    <div class="post-header">
                        <a href="/u/{{.User.Username}}" class="post-username">{{.User.Username}}</a>
                        <a href="/p/{{.ID}}" class="post-time">
                            <time datetime='{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</time>
                        </a>
                    </div>

                    <p class="post-content">{{.Content | linkify}}</p>

                    {{if not .Previews.IsEmpty}}
                        <div class="post-previews">
                            {{range .Previews}}
                                {{if not .Data.IsEmpty}}
                                    <div class="post-preview">
                                        <h4>{{.Data.SiteName}}</h4>
                                        <h3>
                                            <a href="{{.Data.URL}}" target="_blank" rel="noopener noreferrer">
                                                {{.Data.Title}}
                                            </a>
                                        </h3>
                                        <p>{{.Data.Description}}</p>

                                        {{if .Data.Images}}
                                            <div class="post-preview-images">
                                                {{range .Data.Images}}
                                                    <img src="{{.URL}}" alt="{{.Alt}}" width="{{.Width}}" height="{{.Height}}">
                                                {{end}}
                                            </div>
                                        {{end}}
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    {{end}}

                    {{if .Attachments}}
                        <div class="post-attachments">
                            {{range .Attachments}}
                                <img src="http://localhost:9000/post-attachments/{{.Path}}" alt="Attachment" width="{{.Width}}" height="{{.Height}}">
                            {{end}}
                        </div>
                    {{end}}
                </article>
            {{end}}
        </div>
    {{end}}
</main>
{{end}}