{{template "layout.tmpl" .}}

{{define "content"}}
<main class="container">
    <h1>Login</h1>

    <form action="/login" method="post" class="login-form">
        <div class="login-form-email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" autocomplete="email" placeholder="Enter your email" required>
        </div>

        <button>Login</button>
    </form>
</main>
{{end}}