{{template "layout.tmpl" .}}

{{define "content"}}
<main class="container">
    <h1>Login</h1>

    <form action="/login" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" autocomplete="email" placeholder="Enter your email" required>
        </div>

        {{with .Error}}
        <div class="error">
            <p>{{.}}</p>
        </div>
        {{end}}

        <button>Login</button>
    </form>
</main>
{{end}}