{{template "layout.tmpl" .}}

{{define "content"}}
<main class="container">
    <h1>Notifications</h1>

    {{if not .Notifications.Items}}
        <p>No notifications available</p>
    {{else}}
        <div role="feed">
            {{range .Notifications.Items}}
                <article class="card notification{{if .Read}} notification-read{{end}}">
                    {{if eq .Kind.String "follow"}}
                        <p>{{template "actors" .}} followed you.</p>
                    {{else if eq .Kind.String "post_mention"}}
                        <p>{{template "actors" .}} mentioned you in a <a href="/p/{{.NotifiableID}}" class="primary">post</a>.</p>
                    {{end}}
                    {{if not .Read}}
                        <form action="/notifications/{{.ID}}/read" method="POST">
                            <button>
                                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" style="--darkreader-inline-color: var(--darkreader-text-000000, #e8e6e3);" data-darkreader-inline-color=""><path d="M5 13L9 17L19 7" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="--darkreader-inline-stroke: #000000;" data-darkreader-inline-stroke=""></path></svg>
                                <span>Mark as read</span>
                            </button>
                        </form>
                    {{end}}
                    <time datetime='{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</time>
                </article>
            {{end}}
        </div>
    {{end}}
</main>
{{end}}

{{define "actors"}}
{{if eq .ActorsCount 1}}
    {{- $actor := (index .Actors 0) -}}
    {{template "actor" $actor}}
{{else if eq .ActorsCount 2}}
    {{- $actorA := index .Actors 0}}
    {{- $actorB := index .Actors 1}}
    {{template "actor" $actorA}} and {{template "actor" $actorB}}
{{else if gt .ActorsCount 2}}
    {{- $actorA := index .Actors 0}}
    {{- $actorB := index .Actors 1}}
    {{template "actor" $actorA}}, {{template "actor" $actorB}} and {{plus .ActorsCount -2}} others
{{end}}
{{end}}

{{define "actor"}}
<a href="/u/{{.Username}}" class="primary">
    {{template "avatar.tmpl" .}}
    <span>{{.Username}}</span>
</a>
{{end}}