{{template "layout.tmpl" .}}

{{define "content"}}
<main class="container">
    <h1>{{.User.Username}}</h1>
    <p>Joined on <time datetime='{{.User.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>{{.User.CreatedAt.Format "2006-01-02 15:04:05"}}</time></p>

    <div>
        <a href="/u/{{.User.Username}}/followers">
            {{.User.FollowersCount}} Followers
        </a>
        <a href="/u/{{.User.Username}}/following">
            {{.User.FollowingCount}} Following
        </a>
    </div>
    
    {{if .User.Relationship}}
        {{if .User.Relationship.FollowsYou}}
            <mark>follows you</mark>
        {{end}}
        
        {{if and .LoggedIn (not .User.Relationship.IsMe)}}
            <form method="post" action="/users/{{.User.ID}}/toggle-follow">
                <button role="switch" aria-pressed="{{.User.Relationship.FollowedByYou}}">
                    {{if .User.Relationship.FollowedByYou}}
                        Unfollow
                    {{else}}
                        Follow
                    {{end}}
                </button>
            </form>
        {{end}}
        
        {{if .User.Relationship.IsMe}}
            <a href="/u/{{.User.Username}}/edit" role="button">Edit Profile</a>
        {{end}}
    {{end}}

    <h2>Posts</h2>
    {{if not .Posts.Items}}
        <div class="info">
            <p>No posts available</p>
        </div>
    {{else}}
        <div role="feed">
            {{range .Posts.Items}}
                {{template "post-card.tmpl" .}}
            {{end}}
        </div>
    {{end}}
</main>
{{end}}